@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Signika+Negative:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Signika+Negative:wght@500&family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Signika+Negative:wght@500&display=swap');




* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: 'Titillium Web', sans-serif;
    background-image: url(material/fondo.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

section {
    max-width: 1000px;
    background-color: #ffffff2a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #000;

}
.boton{
    margin-left: 10px;
    background-color: #1f0e70;
    color: white;
    margin-top: 10px;
}
h2 {
    color: #000000;
}

/* Estilos del formulario */
form {
    text-align: left;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 700;
}

input {
    width: 90%;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    justify-content: center;
}

input [type="submit"] {
    text-align: center;
    justify-content: center;
}

p {
    margin-top: 10px;
    font-size: 16px;
}

a {
    color: #ffffff;
    text-decoration: none;
    
}

a:hover {
    text-decoration: underline;
}